<h1>NgModel</h1>
<p>Nombre: {{ name }}</p>
<input
  type="text"
  #nameInput="ngModel"
  [(ngModel)]="name"
  minlength="5"
  required
>
<span style="color: red;" *ngIf="nameInput?.value?.length && !nameInput.valid">El nombre debe tener al menos 5 caracteres.</span>
<p>Edad: {{ age }}</p>
<button (click)="increaseAge()">Aumentar edad</button>

<h2>Lista de nombres</h2>
<input type="text" [(ngModel)]="newName" name="newName" id="newName" placeholder="Nuevo nombre">
<button type="button" (click)="newName.length > 0 && addNewName()">Agregar nombre</button>
<ul>
  <li *ngFor="let name of names; index as i">
    {{ i + 1 }}. {{ name }}
    <button type="button" (click)="deleteName(i)">Eliminar</button>
  </li>
</ul>
<span *ngIf="names.length === 0">No hay nombres</span>

<hr />

<div>
  <div *ngFor="let product of products">
    <img [src]="product.image" [alt]="product.name" width="200">
    <h2>{{ product.name }}</h2>
    <p>{{ product.price | currency }}</p>
  </div>
</div>
